:root {

    /*--table-hover: #000000BF;*/
    
    --text-white: #ffffff;
    --text-black: #000000;
    --text-yellow: #FDCF13;
    --text-red: #FC4242;
    --text-green: #03B37F;
    
    --bg-success: #03B37F;
    --bg-success-hover: #008E64;
    --bg-warning: #FDCF13;
    --bg-danger: #FC4242;
    --bg-info: #F18521;
    --bg-bet: #03B37F52;
    --bg-tabs: #03b37f33;
    
    --book-green: #39ff39 ;
    --book-red: #f7505e;

    --back:#72BBEF;
    --back-hover: #4FA1DC;
    --back1: #72BBEFCC;
    --back2: #72BBEFA3;
    --lay: #F994BA;
    --lay-hover: #E16F9A;
    --lay1: #F994BACC;
    --lay2: #F994BAA3;
    --back-title: #72BBEF80;
    --lay-title: #F994BA80;

    --football: #03B37F;
    --football_75: #03B37FBF;
    --football_50: #03B37F80;

    --tennis: #F18521;
    --tennis_75: #F18521BF;
    --tennis_50: #F1852180;

    --boxing: #E44E23;
    --boxing_75: #E44E23BF;
    --boxing_50: #E44E2380;

    --cricket: #20327B;
    --cricket_75: #20327BBF;
    --cricket_50: #20327B80;

    --golf: #015900;
    --golf_75: #015900BF;
    --golf_50: #01590080;

    --beach-volleyball: #FF9C63;
    --beach-volleyball_75: #FF9C63BF;
    --beach-volleyball_50: #FF9C6380;

    --table-tennis: #DB2752;
    --table-tennis_75: #DB2752BF;
    --table-tennis_50: #DB275280;

    --futsal: #74C94B;
    --futsal_75: #74C94BBF;
    --futsal_50: #74C94B80;

    --horse-racing: #9E4025;
    --horse-racing_75: #9E4025BF;
    --horse-racing_50: #9E402580;

    --egames: #623CEA;
    --egames_75: #623CEABF;
    --egames_50: #623CEA80;

    --grey-hounds: #E89780;
    --grey-hounds_75: #E89780BF;
    --grey-hounds_50: #E8978080;

    --trotting: #996658;
    --trotting_75: #996658BF;
    --trotting_50: #99665880;

    --speedway: #C14347;
    --speedway_75: #C14347BF;
    --speedway_50: #C1434780;

    --basketball: #FBB03B;
    --basketball_75: #FBB03BBF;
    --basketball_50: #FBB03B80;

    --moto-gp: #9FBE3C;
    --moto-gp_75: #9FBE3CBF;
    --moto-gp_50: #9FBE3C80;

    --chess: #0E345E;
    --chess_75: #0E345EBF;
    --chess_50: #0E345E80;

    --vollyball: #074A60;
    --vollyball_75: #074A60BF;
    --vollyball_50: #074A6080;

    --ice-hockey: #2F7ED5;
    --ice-hockey_75: #2F7ED5BF;
    --ice-hockey_50: #2F7ED580;

    --equine-sports: #E07A5F;
    --equine-sports_75: #E07A5FBF;
    --equine-sports_50: #E07A5F80;

    --australians-rules: #FF6457;
    --australians-rules_75: #FF6457BF;
    --australians-rules_50: #FF645780;

    --badminton: #3C7A57;
    --badminton_75: #3C7A57BF;
    --badminton_50: #3C7A5780;

    --formula-1: #BF6F7E;
    --formula-1_75: #BF6F7EBF;
    --formula-1_50: #BF6F7E80;

    --nascar: #CB2755;
    --nascar_75: #CB2755BF;
    --nascar_50: #CB275580;

    --hockey: #3D2B58;
    --hockey_75: #3D2B58BF;
    --hockey_50: #3D2B5880;

    --supercars: #772B59;
    --supercars_75: #772B59BF;
    --supercars_50: #772B5980;

    --netball: #279A95;
    --netball_75: #279A95BF;
    --netball_50: #279A9580;

    --surfing: #81A6FF;
    --surfing_75: #81A6FFBF;
    --surfing_50: #81A6FF80;

    --cycling: #60A5DA;
    --cycling_75: #60A5DABF;
    --cycling_50: #60A5DA80;

    --gaelick-sports: #07695F;
    --gaelick-sports_75: #07695FBF;
    --gaelick-sports_50: #07695F80;

    --biathlon: #2F158B;
    --biathlon_75: #2F158BBF;
    --biathlon_50: #2F158B80;

    --motorbikes: #BD6A58;
    --motorbikes_75: #BD6A58BF;
    --motorbikes_50: #BD6A5880;

    --athletics: #D96C0D;
    --athletics_75: #D96C0DBF;
    --athletics_50: #D96C0D80;

    --squash: #446EA6;
    --squash_75: #446EA6BF;
    --squash_50: #446EA680;

    --basketball-3-3: #E83D1A;
    --basketball-3-3_75: #E83D1ABF;
    --basketball-3-3_50: #E83D1A80;

    --floorball: #04ADBF;
    --floorball_75: #04ADBFBF;
    --floorball_50: #04ADBF80;

    --sumo: #D95B66;
    --sumo_75: #D95B66BF;
    --sumo_50: #D95B6680;

    --virtual-sports: #D592FF;
    --virtual-sports_75: #D592FFBF;
    --virtual-sports_50: #D592FF80;

    --handball: #69306D;
    --handball_75: #69306DBF;
    --handball_50: #69306D80;

    --politics: #B4845B;
    --politics_75: #B4845BBF;
    --politics_50: #B4845B80;

    --weather: #518CAD;
    --weather_75: #518CADBF;
    --weather_50: #518CAD80;

    --tv-games: #513896;
    --tv-games_75: #513896BF;
    --tv-games_50: #51389680;

    --lottery: #E9BC26;
    --lottery_75: #E9BC26BF;
    --lottery_50: #E9BC2680;

    --bowls: #590902;
    --bowls_75: #590902BF;
    --bowls_50: #59090280;
/* 
    --poker:;
    --poker_75:;
    --poker_50; */

    --waterpolo: #21A3B8;
    --waterpolo_75: #21A3B8BF;
    --waterpolo_50: #21A3B880;

    --alpine-skiing: #509BFF;
    --alpine-skiing_75: #509BFFBF;
    --alpine-skiing_50: #509BFF80;

    --sailing: #00B4D8;
    --sailing_75: #00B4D8BF;
    --sailing_50: #00B4D880;

    --hurling: #52B788;
    --hurling_75: #52B788BF;
    --hurling_50: #52B78880;

    --ski-jumping: #70C1B3;
    --ski-jumping_75: #70C1B3BF;
    --ski-jumping_50: #70C1B380;

    --bandy: #D99B84;
    --bandy_75: #D99B84BF;
    --bandy_50: #D99B8480;

    --motor-sports: #A175C8;
    --motor-sports_75: #A175C8BF;
    --motor-sports_50: #A175C880;

    --baseball: #C06C84;
    --baseball_75: #C06C84BF;
    --baseball_50: #C06C8480;

    --rugby-union: #8A101C;
    --rugby-union_75: #8A101CBF;
    --rugby-union_50: #8A101C80;

    --rugby-league: #ED5F62;
    --rugby-league_75: #ED5F62BF;
    --rugby-league_50: #ED5F6280;

    --curling: #5478BF;
    --curling_75: #5478BFBF;
    --curling_50: #5478BF80;

    --darts: #B21347;
    --darts_75: #B21347BF;
    --darts_50: #B2134780;

    --americal-footbal: #D3393D;
    --americal-footbal_75: #D3393DBF;
    --americal-footbal_50: #D3393D80;

    --snooker: #11B24B;
    --snooker_75: #11B24BBF;
    --snooker_50: #11B24B80;

    --lottery-specials: #A53860;
    --lottery-specials_75: #A53860BF;
    --lottery-specials_50: #A5386080;

    --special-bets: #E63946;
    --special-bets_75: #E63946BF;
    --special-bets_50: #E6394680;

    --lotto: #05668D;
    --lotto_75: #05668DBF;
    --lotto_50: #05668D80;

    --card-cricket: #581ab4;
    --card-cricket_75: #581ab4BF;
    --card-cricket_50: #581ab480;
}