/* .malicious-site-checker { 
    color : var(--text-black); 
    background-color: var(--text-fancy);
    border-color: var(--text-fancy);
}
.malicious-site-checker:visited { 
    color : var(--text-black) ; 
    background-color: red;
    border-color: red;
} */

/* .malicious-site-checker { 
    color : var(--bg-body) !important; 
    background-color: var(--bg-body);
    border-color: var(--bg-body);
}
.malicious-site-checker:visited { 
    color : var(--text-white) !important ; 
    background-color: red;
    border-color: red;
} */
/* body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

.login-fixture {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    white-space: nowrap;
}

.svg-box{
    position: absolute;
    z-index: -1;
    animation-name: rotateSplash;
    animation-duration:0.5s;
    animation-iteration-count:1;
}

.bodymovinanim {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: var(--bg-body);
    z-index: 999999999;
}

.top-winner-list-box img {
    display: unset !important;
}

.fixure-box>a>div:first-child{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

@keyframes rotateSplash {
    0%{
    transform:scale(0.3);
  }
  100%{
    transform:scale(1.0);
  }
}

@media only screen and (min-width: 320px) and (max-width: 360px){
    .video-tv {
        height: 185px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 1024px){
    .video-tv {
        height: 207px;
    }
}


.fixure-box {
    height: 46px;
}

@media only screen and (min-width: 320px) and (max-width: 767px){
    .fixure-box {
        height: 40px;
    }
}
.home-casiono-icons.d-none-mobile
{
    /* padding-top: 30px;
    padding-bottom: 30px; */
}
.home-casiono-icons.d-none-mobile .home-casino-icon-item {
    margin-bottom: 5px;
    padding-top: 10px;
}

.home-casiono-icons.d-none-mobile .slick-arrow{
    position: absolute;
}
.home-casiono-icons.d-none-mobile .slick-prev{
    background-color: #00000080;
    top: 0px;
    transform: unset;
    /* transform: rotate(90deg); */
    left: 0;
    right: unset;
    width: 100%;
    height: 30px;
    z-index: 100;
}
.home-casiono-icons.d-none-mobile .slick-prev::before,.home-casiono-icons.d-none-mobile .slick-next::before{
    /* transform: rotate(90deg); */
    display: inline-block;
}
.home-casiono-icons.d-none-mobile .slick-next{
    background-color: #00000080;
    bottom: 0;
    left: 0;
    right: unset;
    top: unset;
    transform: unset;
    width: 100%;
    height: 30px;
    /* transform: rotate(90deg); */
    z-index: 100;
}


.home-casiono-icons.d-none-mobile .new-laucnh-icon {
    top: 6px;
}
@media only screen and (min-width:320px) and (max-width: 767px)
{
    .home-casiono-icons .home-casino-icon-item
    {
        padding-top: 20px;
        padding-right: 10px;
    }
    .new-laucnh-icon {
        top: 9px;
    }
}



.user-dropdown{
    padding-top: unset;
}
.upcoming-fixure a{
    color: var(--text-sidebar);
}

@media only screen and (min-width: 320px) and (max-width: 1280px){
    .user-dropdown{
        padding-top: 15px;
    }
    .color-box-container{
        position: unset;
    }
    .carousel-indicators{
        margin-bottom: 0px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1280px){
    .news-bar{
        height: 46px;
    }
    .news-bar .news-title::after{
        content: "";
    position: absolute;
    width: 46px;
    height: 46px;
    border-top: 23px solid transparent;
    border-left: 23px solid var(--btn-primary);
    border-bottom: 23px solid transparent;
    right: -46px;
    top: 0;
    }
}

.slick-prev::before
{
    content:"\f077" !important;
}
.slick-next::before
{
    content:"\f078" !important;
}
.slick-prev::before, .slick-next::before
{
    font-family: "Font Awesome 5 Free" !important;
    font-size: 18px !important;
    font-weight: bold !important;
}

.animated-header .mob{
    color: var(--text-body);
    position: absolute;
    top: 34px;
    z-index: 99;
    left: 50%;
    line-height: 1;
    text-align: center;
    transform: translateX(-50%);
    width: 100%;
    font-weight: bold;
    font-size: 16px;
}

.animated-header .web{
    position: absolute;
    z-index: 99;
    right: 15%;
    transform: translateX(-50%);
    top: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

/* .trap .splide__slide img{
    width: 30px;
} */

/* .trap .owl-carousel {
    transform: rotate(90deg);
    width:25px;
    margin-top: 15px;
}

.trap .item {
    transform: rotate(-90deg);
}

.trap .owl-carousel .owl-stage-outer {
    overflow:unset; 
}

.trap .owl-carousel .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: calc(50% - 33px);
}

.trap div.owl-carousel .owl-nav .owl-prev,
div.owl-carousel .owl-nav .owl-next {
    font-size: 36px;
    top: unset;
    bottom: 15px;
} */


.v-slider .fas{
    /* margin-bottom: 5px;  */
    cursor: pointer; 
    color: var(--text-fancy); 
    font-size: 16px;
}
.slick-arrow:hover{
	opacity: .9;
}